body{
  background-color: wheat;
}

.top{
  display:flex;
  justify-content:flex-end;

}

.message{
  display:flex;
  flex-direction: column;
  align-items: center;

}

.bottom{
  height:500px;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  
}

ul{
  list-style: none;
}

li{
  margin:5px;
}

